@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400');




/* Höhe muss bei der mobilen Ansicht auf ''auto'' umgestellt werden, da sonst das Menü sich nicht aufklappt */
.navbar {
    height: 50px;
}


.nav-item {
    padding-left: 1rem;
  }
  
.nav-link {
    padding-top: 14px !important;
    padding-bottom: 11px;
    position: relative;
    border-bottom: 3px solid transparent;
}
  
.nav-link:hover {
    border-bottom: 3px solid #417505 !important;
}

.d-block {
    /* Prüfen ggf. max-height */
    height: 400px !important;
    object-fit: cover;
}

.navbar-nav li a {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.9rem;

}

.card {
    width: 350px;
    border-radius: 0;
    border: none;
    margin-top: 50px;
}

.card-img-top {
    width: 350px;
    height: 250px;
    border-radius: 0;
}

.card-body {
    height: 149px;
    font-family: 'Open Sans', sans-serif;
    font-size: 25px;
    color: #4A4A4A;
}

.card-one {
    background-color: #F9E79F;
}

.card-two {
    background-color: #D5DBDB;
}

.card-three {
    background-color: #EDBB99;
}

.card-body a {
    border-radius: 0;
    border: 1px solid #4A4A4A;
    text-transform: uppercase;
    font-size: 0.8rem;
    color: #4A4A4A;
    background-color: transparent;
}

.card-body a:hover {
    background-color: #4A4A4A;
    border: 1px solid #4A4A4A;
}

.card-title {
    margin-top: 15px;
}


.img-thumbnail {
    border: none;
    border-radius: 0;
    padding: 0px;
}



.bestell-btn {
    position: absolute; 
    top: 0; 
    color: #f1f1f1; 
    width: 350px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}

.title-salat {
    position: absolute; 
    bottom: 0; 
    background: rgb(0, 0, 0);
    background: rgba(0, 0, 0, 0.5); /* Black see-through */
    border-top: 1px solid #fff;
    color: #f1f1f1; 
    width: 350px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: left;
    font-family: 'Open Sans', sans-serif;
  }

.price-salat {
    position: absolute; 
    bottom: 0; 
    color: #f1f1f1; 
    width: 350px;
    transition: .5s ease;
    opacity:0;
    color: white;
    font-size: 20px;
    padding: 20px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;
}
  
.img-container:hover .bestell-btn {
    opacity: 1;
}

.img-container:hover .title-salat {
    opacity: 1;
    cursor: pointer;
}

.img-container:hover .price-salat {
    opacity: 1;
    cursor: pointer;
}

img.img-thumbnail {
    height: 260px;
}

.title-row {
    margin-top: 1rem;
    font-size: 25px;
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    font-weight: lighter;
}

hr {
    margin-top: 0rem;
} 

/* Login */
input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

/* Set a style for all buttons */
button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
}

button:hover {
    opacity: 0.8;
}

/* Extra styles for the cancel button */
.cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
}

/* Center the image and position the close button */
.imgcontainer {
    text-align: center;
    margin: 24px 0 12px 0;
    position: relative;
}

img.avatar {
    width: 40%;
    border-radius: 50%;
}

.container {
    padding: 16px;
}

span.psw {
    float: right;
    padding-top: 16px;
}

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    padding-top: 60px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button (x) */
.close {
    position: absolute;
    right: 25px;
    top: 0;
    color: #000;
    font-size: 35px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: red;
    cursor: pointer;
}

/* Add Zoom Animation */
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}

@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)} 
    to {-webkit-transform: scale(1)}
}
    
@keyframes animatezoom {
    from {transform: scale(0)} 
    to {transform: scale(1)}
}

/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}